services:
  client:
    image: keeb-client-dev
    build:
      context: ./client/
      dockerfile: dev.Dockerfile
    volumes:
      - ./client/src:/usr/src/app/src
      - ./client/public:/usr/src/app/public
    environment:
      - REACT_APP_BACKEND_URL=keyboard/
    ports:
      - 3000:3000
    container_name: keeb-client-dev

  server:
    image: keeb-server-dev
    build:
      context: ./server/
      dockerfile: dev.Dockerfile
    volumes:
      - ./server/:/usr/src/app
    ports:
      - 3001:80
    container_name: keeb-server-dev

  nginx:
    image: nginx:1.20.1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: keeb-reverse-proxy-dev
    depends_on:
      - client