services:
  client:
    image: keeb-client-prod
    build:
      context: ./client/
      dockerfile: Dockerfile
    volumes:
      - ./client/:/usr/src/app
    environment:
      - REACT_APP_BACKEND_URL=keyboard/
    ports:
      - 3000:3000
    container_name: keeb-client-prod

  server:
    image: keeb-server-prod
    build:
      context: ./server/
      dockerfile: Dockerfile
    volumes:
      - ./server/:/usr/src/app
    ports:
      - 3001:80
    container_name: keeb-server-prod

  nginx:
    image: nginx:1.20.1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: keeb-reverse-proxy-prod
    depends_on:
      - client